# help e.g. under https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository

# exclude executable
/LAVESIgen

# exclude o(bject) and a(rchive)
*.[oa]

# exclude temporary files
*~

# exclude output dir
output/
# exclude time usage output files
t_*.txt
# exclude pollen-dispersal output files
pollDist*

# exclude TEST-folder
TEST/

# exclude postprocessing-output files
postprocessing/*.png

